{{ define "main" }}
<h1>{{ .Title }}</h1>

<figure>
  {{- $imageCdn := .Site.Params.imageCdn -}}
  {{- $collection := .RelPermalink -}}
  {{- $src := printf "%s%s%s" (strings.TrimSuffix "/" $imageCdn) (strings.TrimSuffix "/" .RelPermalink) ".jpg" -}}
  <img src="{{ $src }}" {{ with try (resources.GetRemote $src) }}{{ with .Value }} width="{{ .Width }}"
    height="{{ .Height }}" alt="fullsize screenshot"{{ end }}{{ end }}>
</figure>

{{with .NextInSection}}<p><i>previous: <a href="{{.RelPermalink}}">{{.Title}}</a></i>,</p>{{end}} 
{{with .PrevInSection}}<p><i>next: <a href="{{.RelPermalink}}">{{.Title}}</a></i></p>{{end}}

{{ end }}