{{ range readDir "static/images/2024/" }}
{{ if (findRE ".png$" .Name) }}
<div class=heap><a href="/images/2024/{{ .Name }}"><img src="/images/2024/{{ .Name }}"></a></div>
{{ end }}
{{ if (findRE ".jpg$" .Name) }}
<div class=heap><a href="/images/2024/{{ .Name }}"><img src="/images/2024/{{ .Name }}"></a></div>
{{ end }}
{{ end }}

{{ range readDir "static/images/2023/" }}
{{ if (findRE ".png$" .Name) }}
<div class=heap><a href="/images/2023/{{ .Name }}"><img src="/images/2023/{{ .Name }}"></a></div>
{{ end }}
{{ if (findRE ".jpg$" .Name) }}
<div class=heap><a href="/images/2023/{{ .Name }}"><img src="/images/2023/{{ .Name }}"></a></div>
{{ end }}
{{ end }}

{{ range readDir "static/images" }}
{{ if (findRE ".png$" .Name) }}
<div class=heap><a href="/images/{{ .Name }}"><img src="/images/{{ .Name }}"></a></div>
{{ end }}
{{ if (findRE ".jpg$" .Name) }}
<div class=heap><a href="/images/{{ .Name }}"><img src="/images/{{ .Name }}"></a></div>
{{ end }}
{{ end }}