/* ------------------------------------------------------------------------------------------------------------------ */
/* Layout engine improvements                                                                                         */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Make HTML more responsive (adapted from https://github.com/mrmrs/fluidity) */
img, canvas, iframe, video, svg, select, textarea { max-width: 100%; height: auto; }
pre { overflow-x: auto; }

/* Box-model fix (adapted from https://css-tricks.com/box-sizing/) */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html { font-size: 1.2rem; }

/* Improved text layout and spacing (adapted from http://bettermotherfuckingwebsite.com) */
body { margin: auto; max-width: 100%; padding: 0.5em; }
p { text-align: justify; hyphens: auto; max-width: 40em; }
h1, h2, h3, h4, h5, h6 { margin-top: 1em; margin-bottom: 0.5em; line-height: 1.2; }

body { background-color: #f8f7fa; color: #3d3c4f }
:not(a[href]) b, :not(a[href]) strong, th { color: inherit; }

/* Logarithmic size scale for headings (see https://github.com/waldyrious/downstyler/issues/30) */
h1 { color: #111; font-size: 200.00%; /* 2^(6/6) */ }
h2 { color: #222; font-size: 178.18%; /* 2^(5/6) */ }
h3 { color: #333; font-size: 158.74%; /* 2^(4/6) */ }
h4 { color: #444; font-size: 141.42%; /* 2^(3/6) */ }
h5 { color: #555; font-size: 125.99%; /* 2^(2/6) */ }
h6 { color: #666; font-size: 112.25%; /* 2^(1/6) */ }

/* Use nicer serif fonts, if available */
body { font-family: 'Times New Roman', serif; }
.nav {list-style-type:none; font-size: x-large;}

header {margin-bottom: 1em;}
hr { margin-top: 3em; border: none; border-top:  #dfd9ec 1px solid;}
/* ------------------------------------------------------------------------------------------------------------------ */
/* Simple table style                                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------ */

table { border-collapse: collapse; }
th, td { padding-left: .5em; padding-right: 1em; text-align: start; border: 1px solid #ddd; }
th, thead, tfoot { background: #eee; font-weight: bold; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Forms and form inputs (work in progress, see https://github.com/waldyrious/downstyler/issues/5)                    */
/* ------------------------------------------------------------------------------------------------------------------ */

textarea { display: block; width: 100%; }
input, textarea, select, button { font-family: inherit; font-size: 100%; margin: 0.2em 0; }
select[size]:not([size="1"]) { vertical-align: top; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Images and figures                                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Add margins to left- and right-aligned images (https://github.com/waldyrious/downstyler/issues/13) */
img[align="right"] { margin-left: 1em; }
img[align="left"] { margin-right: 1em; }

/* Figure captions */
figcaption { font: inherit; font-size: 75% !important; font-style: italic; }

/* Prevent blowing up SVG images that are meant to be small */
*[class*="social"] svg, *[class*="icon"] svg, svg[class*="icon"], img[class*="emoji"][src$=".svg"] { max-height: 30px; }
*[class*="logo" i] svg, *[id*="logo" i] svg { max-width: 100px; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Additional adjustments                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Softer link colors than the browser defaults */
a[href], a[href]:visited { color: #8a79ab; }

/* Styles for code-related elements */
pre, :not(pre) code, kbd, samp, tt { padding: .1em .3em; margin: 0 .1em; font-size: 80%; background: #eee; }

/* Styles for blockquote elements */
blockquote { line-height: 1.4; border-left: 3px solid #645452; padding-left: 1em; }

/* Softer selection color that works over text and links without the color inversion effect */
::selection { background-color: #5a5a5a; }
@media (prefers-color-scheme: dark) {
  body {
    background-color: #223;
    color: #c9c0bb;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #cfcfc4;
  }
  a[href],
  a[href]:hover,
  a[href]:visited {
    color:  #bc8f8f; }

  hr {
    border-top:  #645452 1px solid;
  }

  img.pixel {
    filter: invert(1) brightness(.8);
  }

  img {
    filter: brightness(.9) contrast(.9);
  }
}