/* Make HTML more responsive (adapted from https://github.com/mrmrs/fluidity) */
img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
  height: auto;
}

pre {
  overflow-x: auto;
}

/* Box-model fix (adapted from https://css-tricks.com/box-sizing/) */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 1.125em;
}

/* Improved text layout and spacing (adapted from http://bettermotherfuckingwebsite.com) */
body {
  background-color: #f8f7fa;
  color: #3d3c4f; 
  margin: 0 auto;
  max-width: 100%;
  padding: 0.3em;
  font-family: 'Times New Roman', Times, serif;
}

p {
  max-width: 80em;
  text-align: justify;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

:not(a[href]) b,
:not(a[href]) strong,
th {
  color: inherit;
}

.nav {
  list-style-type: none;
  padding-bottom: 1em;
}

.date {
  font-family: monospace;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

header {
  max-width: 100%;
  margin-bottom: 0.6em;
}

footer {
  margin-bottom: 0.2em;
}

hr {
  margin-top: 3em;
  border: none;
  border-top: #dfd9ec 1px solid;
}

.post-list {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding-left: .5em;
  padding-right: 1em;
  text-align: start;
  border: 1px solid #ddd;
}

th,
thead,
tfoot {
  background: #eee;
  font-weight: bold;
}

figure {
  max-width: 100%;
  padding: 0em;
  margin: 0em;
}

figcaption {
  font: inherit;
  font-size: 75% !important;
  font-style: italic;
}

/* Prevent blowing up SVG images that are meant to be small */
*[class*="social"] svg,
*[class*="icon"] svg,
svg[class*="icon"],
img[class*="emoji"][src$=".svg"] {
  max-height: 30px;
}

*[class*="logo" i] svg,
*[id*="logo" i] svg {
  max-width: 100px;
}

a[href],
a[href]:visited {
  color: inherit;
}

/* Styles for code-related elements */
pre,
:not(pre) code,
kbd,
samp,
tt {
  padding: .1em .3em;
  margin: 0 .1em;
  font-size: 80%;
  background: #eee;
}

/* Styles for blockquote elements */
blockquote {
  font-style: italic;
  padding-left: 1em;
  margin-left: 0;
  border-left: 0px solid #333;
  color: inherit;
}

/* Softer selection color that works over text and links without the color inversion effect */
::selection {
  background-color: #aa8383;
}

.home {
  display: flex;
  max-width: 100%;
  margin: 1em;
  gap: 1em;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: center;
  align-items: stretch;
}

/*for image galleries*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 100%;
}

.item {
  margin: 1em;
  padding: 0.2em;
}

.container {
  max-width: 40em;
  margin: auto;
}

.container img {
  max-width: 100%;
  margin-bottom: 4em;
}

.container2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  background-color: #5a5a5a;
}

@media screen and (width <=50rem) {
  body {
    padding: 0em 0.6em;
  }

  header {
    font-size: large;
    line-height: 1.8;
  }

  /*gallery*/
  .item {
    max-width: 10em;
    padding: 0.1em;
  }
}

@media screen and (width <=25rem) {

  body {
    padding: 0em 0.6em;
  }

  header {
    font-size: large;
    line-height: 1.8;
  }

  /*gallery*/
  .item {
    max-width: 6.6em;
    padding: 0.1em;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #223;
    color: #c9c0bb;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #cfcfc4;
  }

  a[href],
  a[href]:hover,
  a[href]:visited {
    color: #bc8f8f;
  }

  hr {
    border: none;
    border-top: #645452 1px solid;
  }

  img.pixel {
    filter: invert(1) brightness(.8);
  }

  img {
    filter: brightness(0.95) contrast(0.9);
  }
}