<!DOCTYPE html>
<html>
	{{ if eq .Type "art" "comics" }}
	{{ partial "arthead.html" . }}
	{{ else if eq .Type "post" "uplog" }}
	{{ partial "posthead.html" . }}
	{{ else }}
	{{ partial "head.html" . }}
	{{ end }}

<body>
	{{ if eq .Type "art" "comics" "post" "uplog" }}
	{{ partial "header.html" . }}
	{{ else }}
	{{ partial "header.html" . }}

	{{ end }}
	<main>
		{{- block "main" . }}{{- end }}
	</main>
	{{- partial "footer.html" . -}}

	{{ $css := resources.Get "css/style.css" | minify }}
    <link href="{{ $css.RelPermalink }}" rel="stylesheet">
</body>

</html>