<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="sickcallfuu's fromsoft fanart.">
  <title>{{.Title}}</title>
<link rel="stylesheet" type="text/css" href="/css/downstyler1.6.css" />
<link rel="icon" href="{{ "images/favicon.ico" | absURL }}" sizes="32x32" type="image/png">

{{ with .OutputFormats.Get "RSS" -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}