<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="sickcallfuu's fromsoft fanart.">
  <title>{{.Title}}</title>
  <style>img{max-width:100%;height:auto}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}html{font-size:1.125em}body{background-color:#f8f7fa;color:#3d3c4f;margin:0 auto;max-width:100%;padding:0.3em;font-family:'Times New Roman',Times,serif}.pixel{image-rendering:pixelated;image-rendering:-moz-crisp-edges;image-rendering:crisp-edges}.pixel2{image-rendering: pixelated;image-rendering:-moz-crisp-edges;image-rendering:crisp-edges;}header{max-width:100%;margin-bottom:0.6em}footer{margin-bottom:0.2em}hr{margin-top:3em;border:none;border-top:#dfd9ec 1px solid}.post-list{list-style-type:none}a[href],a[href]:visited{color:inherit}@media (prefers-color-scheme:dark){body{background-color:#223;color:#c9c0bb}a[href],a[href]:visited{color:#bc8f8f}hr{border:none;border-top:#645452 1px solid}img.pixel{filter:invert(1) brightness(.8)}img{filter:brightness(0.95) contrast(0.9)}}</style>
  <link rel="icon" href="{{ "/images/favicon.ico" | absURL }}" sizes="32x32" type="image/png">
  {{ with .OutputFormats.Get "RSS" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
</head>