{{- $imageCdn := .Site.Params.imageCdn -}}

  {{- $u := urls.Parse (.Get "src") -}}
  {{- $src := $u.String -}}
  {{- if not $u.IsAbs -}}
    {{- if $imageCdn -}}
      {{- $src =  printf "%s%s" (strings.TrimSuffix "/" $imageCdn) $src  -}}
    {{- else -}}
      {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
        {{- $src = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
 
  {{- $cdn := printf "%s" (strings.TrimSuffix "/" $imageCdn) -}}

  <img src="{{ printf (strings.TrimSuffix "/" $imageCdn) }}{{ .Params.featuredImageExternal}}" {{ with try (resources.GetRemote $src) }}{{ with .Value }} width="{{ .Width }}" height="{{ .Height }}"{{ end }}{{ end }}>
  <!-- Closing img tag -->
