<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>

    {{- partial "header.html" . -}}
    <p>updated <time datetime="{{.Date.Format "2006-01-02"}}">{{ range (where .Site.Pages "Section" "uplog") }} {{ range first 1 .Data.Pages }} <a
            href="{{.RelPermalink}}">{{.Date.Format "2006-01-02"}}</a>.</time>{{ end }}{{ end }}</p>
    {{- partial "nav.html" . -}}
    
    <img src="https://cdn.margot.maison/fuu/images/rog_open_crop.png" width="1032" height="729"
        alt="cropped image of a rogier and d drawing.">

    {{- partial "footer.html" . -}}
</body>

</html>